<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/home.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
    <header>
        <img alt="logo" src="https://cdn.dribbble.com/users/798777/screenshots/5419074/hotzilla_dribbble.gif" />
        <nav>
            <ul>
                <li><a>About</a></li>
                <li><a>Projects</a></li>
                <li><a>Skills</a></li>
            </ul>
        </nav>
        <button type="button" >Connect</button>
    </header>  
    <div class="container">
        <div class="intro" >
            <div><h1>Welcome to my website</h1></div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur eius voluptatem, libero aliquid perspiciatis cumque ratione at in suscipit aperiam ducimus architecto blanditiis deserunt, repellat nesciunt corporis quod? Iste, omnis.</div>
        </div>
        <div class="">
            <div class="slide-in" id="animate1">
                <a href="https://www.linkedin.com/in/pwilbur/">linkedIn</a>
            </div> 
            <div class="slide-in" id="animate2">
                <a href="https://github.com/pjw9963">GitHub</a>
            </div>
            <div class="slide-in" id="animate3">
                <a href="https://gitlab.com/fatrick99">GitLab</a>
            </div>
        </div>
    </div> 
    <div id="container3">
        <div class="intro">
            <div><h1>About Me</h1></div>
        </div>
        <div class="about-list">
            <ul>
                <li>I'm into running</li>
                <li>Big computer nerd</li>
                <li>Intrinsically motivated (I want to be really good at what i do)</li>
                <li>The sound of people chewing makes me angry, but only when a person is doing it absent-mindedly</li>
                <li>I am very interested in living someplace with decent weather</li>
                <li>I dont care much for watching professional sports</li>
                <li>I'm pretty excited for Guns Akimbo. Its fucking Harry Potter with guns.</li>
                <li>My Spotify account is fatrick99, follow me</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <svg viewBox="0 0 75 18">
          <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" class="project-header">Projects</text>
        </svg>
        <div class="project-container">
            <div id="row-one">
                <div class="project">
                    TKinter Webscrapper
                </div>
            </div>
            <div class="row-two">

            </div>
        </div>

    </div>
</body>
</html>